<table class="profile">
  <tr>
    <td class="main">    
      <h2>
        <%= h @user.name %>
      </h2>
    </td>
    <td>
      <h3>
        <%= @user.email %>
      </h3>
    </td>
  </tr>
</table>
<table>
  <tr align="LEFT">
    <th width="50%">
      From Station: <%= Station.find_by_number(@user.origin).name %>
    </th>
    <th>
      To Station: <%= Station.find_by_number(@user.destination).name %>
    </th>
  </tr>
</table>
